<template>
  <div class="office__app">
    <div class="container">
      <Header totalCount=10 v-on:search="searchTrigger" />
      <Result :results="searchResults" :err="err" />
      <Footer/>
    </div>    
  </div>
</template>

<script>
  import Header from './common/Header.vue';
  import Footer from './common/Footer.vue';
  import Result from './Result.vue'
  export default {
    name: 'Office',
    components: {
      Header,Footer,Result
    },
    props: {
      title: String,
      message : String
    },
    data() {
      return {
        err : false,
        searchResults : null
      }
    },
    methods: {
      searchTrigger(value) {
       var that = this; 
       axios
        .get('http://localhost:3000/customers/search?q='+value)
          .then(response => {
            that.searchResults = JSON.stringify(response.data)
          })
          .catch(function (error) {
            that.err = true;
            that.searchResults = 'something went wrong!'
          });
      }
    }
  }

</script>

<style scoped>

</style>
