<template>
    <div id="office__body">
        <div class="alert alert-danger" role="alert" v-if="err">
            {{results}}
        </div>
        <div class="alert alert-primary" role="alert" v-else>
            {{results}}
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            results: {
                type : String
            },
            err : Boolean
        },
        data() {
            return {
                name : 'Result' 
            }
        },
        methods: {},
        watch: {}
    }
</script>

<style scoped>
    #office__body {
        margin-top: 30px;
    }
</style>