<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>event poc</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <style>
        section {
            margin-top: 20px;
        }
    </style>

</head>

<body>
    <div class="container" id="application">
        <section class="well">
        </section>

        <section>
            <label for="selectEnv to pick the data">Please select an environment</label>
            <select class="form-control" v-model="currentEnv" v-on:change="changeEnv">                
                <option v-for="env in envs" :disabled="env.status" :value="env.alias">{{ env.name }}</option>                
            </select>
        </section>
        <section>
            <span>Current selected environment : {{currentEnv}}</span>
            <strong v-if="hasError">{{errorDescription}}</strong>            
            <table class="table" v-else>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>maeu</th>
                        <th>safm</th>
                        <th>sejj</th>
                        <th>mcpu</th>
                        <th>seau</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="boresult in boResultForEnvironment">
                        <td>{{boresult.featureId}}</td>
                        <td>
                            <input type="checkbox" :checked="boresult.maeu" :data-carrierid="boresult.featureId" data-brand="MAEU" @change="checkAction">
                        </td>
                        <td>
                            <input type="checkbox" :checked="boresult.safm" :data-carrierid="boresult.featureId" data-brand="SAFM" @change="checkAction">
                        </td>
                        <td>
                            <input type="checkbox" :checked="boresult.sejj" :data-carrierid="boresult.featureId" data-brand="SEJJ" @change="checkAction">
                        </td>
                        <td>
                            <input type="checkbox" :checked="boresult.mcpu" :data-carrierid="boresult.featureId" data-brand="MCPU" @change="checkAction">
                        </td>
                        <td>
                            <input type="checkbox" :checked="boresult.seau" :data-carrierid="boresult.featureId" data-brand="SEAU" @change="checkAction">
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script>
        var watchExampleVM = new Vue({
            el: '#application',
            data: {
                currentEnv: '',
                envs: [
                    {
                        name: "Laboratory",
                        alias: "LAB",
                        status: false
                    },
                    {
                        name: "Development",
                        alias: "DEV",
                        status: false
                    },
                    {
                        name: "Testing",
                        alias: "TEST",
                        status: true
                    }
                ],
                hasError: false,
                errorDescription: '',
                boResultForEnvironment: []
            },
            methods: {                
                changeEnv:_.debounce( function () {
                    //this.callAxiosService(this.currentEnv);
                    this.callAjaxService(this.currentEnv);
                },500),
                callAxiosService: function (env) {
                    console.log('callService method being called from changeEnv method : '+env);
                    var app = this;
                    axios.get('http://localhost:8089/backoffice/all')
                        .then(function (response) {                            
                            app.boResultForEnvironment = response.data;
                        })
                        .catch(function (error) {                            
                            app.hasError = true;
                            app.errorDescription = "Something went wrong!" + error
                        })
                },
                checkAction : function(e) {
                    console.log('click event : '+e.target.getAttribute('data-carrierid') +', '+e.target.getAttribute('data-brand')+', '+e.target.checked);                    
                },
                callAjaxService : function(env) {
                    var app = this;
                    $.get('http://localhost:8089/backoffice/all',function(data){
                        app.boResultForEnvironment = data;
                    }).fail(function(err) {
                        app.hasError = true;
                        app.errorDescription = "Something went wrong!" + error;
                    });                   
                }
            }//methods
        });
    </script>
</body>

</html>