<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <style>
        section {
            margin-top: 20px;
            border-bottom: 1px solid;
        }
    </style>
    <script>

    </script>
</head>

<body>
    <div class="container">
        <section>
            <h1>Vue example</h1>
            <span id="content" v-bind:title="title">{{message}} <p v-text="name">loading...</p> </span>
        </section>


        <section>
            <div id="app-2">
                <span v-bind:title="message">
                        Hover your mouse over me for a few seconds
                        to see my dynamically bound title!
                    </span>
            </div>
        </section>

        <section>
            <div id="app-3">
                <span v-if="seen">Now you see me</span>
            </div>
        </section>

        <section>
            <div id="app-4">
                <ol>
                    <li v-for="todo in todos">
                        {{ todo.text }}
                    </li>
                </ol>
            </div>
        </section>

        <section>
            <div id="app-5">
                <p>{{ message }}</p>
                <button v-on:click="reverseMessage">Reverse Message</button>
            </div>
        </section>

        <section>
            <div id="app-6">
                <p>{{ message }}</p>
                <input v-model="message">
            </div>
        </section>

        <section>
            <div id="app-7">
                <p>{{ message }}</p>
                <button class="btn btn-info" v-on:click="getMe">click for ajax call</button>
            </div>
        </section>

        <section>
            <div id="app-8-demo">{{ fullName }}</div>
        </section>

        <section>
            <div id="app-9">
                <strong>{{ computedName }}</strong><span>, Patel</span>
            </div>
        </section>


    </div>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        var app1 = new Vue({
            el: '#content',
            data: {
                message: 'Hello World! abcd to abcd',
                name: 'Like',
                title: 'Example#1'
            }
        });

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'Example#2 You loaded this page on ' + new Date().toLocaleString()
            }
        });

        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                ]
            }
        });

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            }
        });

        var app7 = new Vue({
            el: '#app-7',
            data: {
                message: ''
            },
            methods: {
                getMe: function () {
                    this.message = "ajax quering.."
                    //getData((callbackData) => {
                    getData(function(callbackData) {
                        this.message = callbackData;
                    });
                }
            }
        });

        function getData(callback) {
            $.ajax({
                url: 'http://localhost:8080/mytest',
                success: function (s) {
                    callback(s);
                },
                error: function (e) {
                    callback(e);
                }
            });
        }

        var app8 = new Vue({
            el: '#app-8',
            data: {
                firstName: 'Foo',
                lastName: 'Bar',
                fullName: 'Foo Bar'
            },
            watch: {
                firstName: function (val) {
                    this.fullName = val + ' ' + this.lastName
                },
                lastName: function (val) {
                    this.fullName = this.firstName + ' ' + val
                }
            }
        })


        var vm = new Vue({
            el: '#app-8-demo',
            data: {
                firstName: 'Foo',
                lastName: 'Bar'
            },
            computed: {
                fullName: function () {
                    return this.firstName + ' ' + this.lastName
                }
            }
        })

        var app9 = new Vue({
            el: '#app-9',
            data: {
                firstName: 'Samit'
            },
            computed: {
                computedName: function () {
                    return this.firstName + ' - is being appended during computed'
                }
            }
        });
    </script>
</body>

</html>