<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Component</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

</head>

<body>
    <div class="container">

        <section>
            <div id="app-3">
                <ol>
                    <todo-item-v3 v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
                    </todo-item-v3>
                </ol>
            </div>
        </section>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        Vue.component('todo-item', {
            template: '<li>This is a todo</li>'
        });

        Vue.component('todo-item-v2', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        });

        Vue.component('todo-item-v3', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        });

        var app3 = new Vue({
            el: '#app-3',
            data: {
                groceryList: [
                    { id: 0, text: 'Vegetables' },
                    { id: 1, text: 'Cheese' },
                    { id: 2, text: 'Whatever else humans are supposed to eat' }
                ]
            }
        })
    </script>

</body>

</html>