<template>
    <div id="office__footer">
        <div class="container">
            <footer>
               <small>@all right received!</small>
            </footer>
        </div>
    </div>
</template>

<script>
    export default {};
</script>

<style scoped>
    #office__footer {
        text-align: center;
        color: #2c3e50;   
        margin-top: 80px;     
    }   
</style>