<template>
    <div id="office__header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">|||</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"> link<span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">a_</a>
                            <a class="dropdown-item" href="#">b_</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">{{totalCount}}</a>
                        </div>
                    </li>                    
                </ul>

                <div class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" v-model="searchText">
                    <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="submitSearch()">Search</button>
                </div>
            </div>

        </nav>
    </div>
</template>

<script>
    export default {
        props: {
            totalCount: {
                type: String,
                default: 1
            }
        },
        data() {
            return {
                searchText : null             
            };
        },
        methods: {
            submitSearch() {
                this.$emit("search",this.searchText);
            }
        },watch: {
            searchText(newValue, oldValue) {
                this.searchText = newValue;
                this.$emit("search",newValue);
            }
        },
    };
</script>

<style scoped>

</style>