<template>
  <div id="app">    
    <Office title="Hello there!" message="my message"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Office from './components/Office.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,
    Office
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  color: #2c3e50;
}
</style>
